@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .sidebar {
    @apply fixed top-0 left-0 h-screen
  }

  .page-content {
    @apply w-auto lg:w-5/6 flex flex-col bg-gray-300;
  }

  .button-container {
    @apply w-24 lg:w-1/6 m-0
            flex flex-col
          bg-gray-500 text-white
  }

  .icon {
    @apply relative flex items-center justify-start h-12 w-4/6
            mt-2 mb-2 mx-auto rounded-lg
            hover:bg-gray-700 hover:text-blue-200 hover:shadow-lg
            transition-all duration-200 ease-linear;
  }

  .sidebar-header {
    @apply relative flex items-center justify-center h-12 w-12
            mt-2 mb-2 mx-auto;
  }

  .sidebar-text {
    @apply hidden lg:flex;
  }

  .search {
    @apply w-1/5 flex items-center justify-start 
          bg-gray-400 
          text-gray-500
          px-2 h-9 ml-0 mr-0 
          rounded-md shadow-md
          transition duration-300 ease-in-out;
  }

  .search-input {
    @apply w-full font-sans font-semibold
            bg-transparent outline-none 
            text-gray-500  placeholder-gray-500
            pl-1 rounded;
  }
}
