@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .content-container {
    @apply flex flex-col w-full  
           m-0;
  }

  .button-container {
    @apply w-24 lg:w-64 m-0
            flex flex-col
          bg-gray-500 text-white;
  }

  .icon {
    @apply relative flex items-center justify-center h-12 w-full rounded-lg
            hover:bg-gray-700 hover:text-white hover:shadow-lg
            transition-all duration-200 ease-linear;
  }

  .icon-sidebar {
    @apply  relative flex items-center justify-start w-4/6
              mt-2 mb-2 mx-auto rounded-lg text-gray-300
              hover:bg-gray-700 
              hover:text-white hover:shadow-lg
              transition-all duration-200 ease-linear;
  }
}
